body{
  font-size: 14px !important;
}


.header-top{
  height: 30px;
}

/* .header-bottom{
  height: 70px;
} */

.gs-logo{
  width: 70px;
  margin: 0 10px;
}

.navbar-nav li{
  color: black;
  margin: 0 10px;
}

.navbar-light .navbar-nav .nav-link{
  color: black !important;
}

.gs-form-esteso{
  margin-left: 50px;
  text-align: end;
}

.gs-button{
  color: white;
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 40px;
}

.gs-button-black{
  background-color: black;
}

.gs-container-i{
  width: 40px;
}

.gs-search{
  font-size: 20px;
  color: black;
}