body{
  font-size: 14px !important;
}

/* ***********HEADER************* */

header{
  position: fixed;
  top: 0;
  z-index: 500;
  width: 100%;
}

.header-top{
  height: 30px;
}

.gs-logo{
  width: 70px;
  margin: 0 10px;
}

.navbar-nav li{
  color: black;
  margin: 0 10px;
}

.navbar-light .navbar-nav .nav-link{
  color: black !important;
}


.gs-button{
  padding: 5px;
  color: white;
  border-radius: 40px;
  justify-content: center;
}

.gs-button span{
  border: 1px solid transparent;
  padding: 3px 16px;
}

.gs-button-black span{
  border: 1px solid transparent;
  padding: 3px 16px;

}

.gs-button span:hover{
  border: 1px solid white;
  border-radius: 40px;
}

.gs-button-black{
  background-color: black;
  border: 1px solid black;
}

.gs-container-i{
  width: 40px;
}

.gs-container-i i:active, .gs-container-i:active{
  background-color: white !important;
}


.gs-search{
  font-size: 20px;
  color: black;
}

.gs-dropdown-menu{
  width: 500px;
}

.gs-hover-menu:hover{
  background-color: #e9ecef;
}

.gs-hover-menu:active{
background-color: #0d6efd;
}

/* .show{
  width: 100%;
} */

/* .dropdown-menu.gs-dropdown-menu.show{
  width: 100%;
} */

/* *******JUMBOTRON********** */

.gs-jumbotron{
  margin-top: 105px;
  min-height: 400px;
  background-image: url(../img/jumbo-bg.png);
  background-position: center;
  background-size: cover;
}

.gs-content-jumbo{
  padding-top: 90px;
  max-width: 350px;
}

.gs-text-jumbo{
  width: 200px;
}

.gs-h2-white{
  color: white;
}

.gs-h2{
  font-size: 40px;
  padding: 20px 0;
}

.gs-content-jumbo p{
  color: white;
  margin-bottom: 20px;
}

.gs-button-orange{
  background-color: #CD3D0F;
  border: 1px solid #CD3D0F;
}

/* ******illustration-box******* */

.gs-row-illustration{
  padding: 40px 0;
}

.gs-illustration-container img{
  width: 100%;
  border-radius: 20px;
}

.gs-illustration-container img:hover{

}

/* *****divider-white****** */

.divider-white{
  background-color: white;
  /* height: 200px; */
  /* da togliere */
}

.text-divider-white{
  padding-top: 30px;
}

.gs-h2-black{
  color: black;
}

/* ***********playstation5******** */

.playstation5{
  padding-top: 50px;
}

.box-playstation-img img{
  width: 100%;
}

.gs-button-blue{
  background-color: #2D64E6;
  margin: 20px 0;
  border: 1px solid #2D64E6;
}


/* *************5COL-PLAY********* */

.gs-5col-play{
  padding-bottom: 50px;

}


.container-img-5col-play img{
  width: 100%;
  filter: opacity(.7);
}

.container-img-5col-play img:hover{
  
  cursor: pointer;
  filter: opacity(1); 
}

.container-img-5col-play:hover{
  border-bottom: 1px solid blue;

}

.text-5col-play{
  width: 80px;
  height: 100px;
  margin: 0 auto;
}




/* @media screen and (max-width:767px){
  .text-5col-play{
    display: none;
  }

} */

/* **********gs-second-jumbo****** */


.gs-second-jumbotron{
  min-height: 600px;
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.gs-content-second-jumbo{
  padding-top: 110px;
  max-width: 450px ;
}

.gs-content-second-jumbo p{
  color: white;
}

/* *****section-grey******* */

.gs-section-grey{
  background-color: #1F1F1F;
  min-height: 500px;
  padding: 20px 0;
}

.gs-section-grey h3{
  padding-bottom: 30px;
}

.gs-container-img-grey img{
  width: 100%;
  border-radius: 20px;
}

/* *******options-play***** */

.container-img-options img{
  width: 100%;
}

/* ********section-play-plus******* */

.play-plus{

  background-color: #BEBCBB;
}

.gs-content-play-plus img{
  width: 70%;
}

.gs-content-play-plus{
  padding-top: 100px;
}

.gs-button-whiteblue{
  color: #2D64E6;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.gs-button-whiteblue span:hover{
  border: 1px solid #2D64E6;
}

.gs-content-play-plus p{
  padding: 20px 0;
}

.container-img-plus, .container-img-plus img{
  width: 100%;
  height: 100%;
}


/* *********section-square**** */

.container-img-square, 
.container-img-square img{
  width: 100%;
}

.gs-square{
  padding: 30px 0;
}


/* ********play-now********* */
.play-now{
  background-color: #161C3B;
}

.gs-button-white{
  background-color: white;
  border: 1px solid white;
}

.gs-button-white span:hover{
  border: 1px solid black;
}


/* ***********social*********** */

.container-logo-social, 
.container-logo-social img{
  width: 100%;
}

.social h2{
  padding: 30px 0;
}

/* *******footer******* */

footer{
  margin-top: 70px;
  height: 500px;
  background-color: #00439C;
}

.logo-play-footer img{
  width: 100px;
  margin-bottom: 20px;
}

.text-white i{
  margin-right: 10px;
}

ul li{
  margin: 5px 0;

  list-style: none;
}

ul li a{
  text-decoration: none;
  color: white;
}

ul li a:hover{
  border-bottom: 1px solid white;
  color: white;
}

.gs-row-footer{
  padding-top: 50px;
}

.gs-logo-sie{
  width: 150px;
}